* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}
body {
    background-color: #ffffff;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: start;
    /* overflow-y: hidden; */

}



header {
    height: 100px;
    width: 100%;
    overflow: hidden;
    display: flex;
    flex-direction: row;
    align-items: center;
    justify-content: space-between;
} 
.opmaakblok-header-index, .opmaakblok-header-index-2 {
    height: 0;
    width: 0;
    border-left: 75px solid transparent;
    border-right: 75px solid transparent;
    border-top: 75px solid #000000;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
}
.opmaakblok-header-index {
    position: relative; right: 55px; bottom: 24px;
    rotate: 135deg;
}
.opmaakblok-header-index-2 {
    position: relative; left: 55px; bottom: 24px;
    rotate: -135deg;
}
.opmaakblok-header-2, .opmaakblok-header-2-2 {
    height: 0;
    width: 0;
    border-left: 45px solid transparent;
    border-right: 45px solid transparent;
    border-top: 45px solid #ffffff;
}
.opmaakblok-header-2 {
    position: relative; right: 4px; bottom: 40px;
}
.opmaakblok-header-2-2 {
    position: relative; left: 4px; bottom: 40px;
}
.logo-header {
    height: 90%;
    width: 350px;
    border-radius: 20px;
    border-top-right-radius: 40px;
    border-top-left-radius: 5px;
    border-bottom-right-radius: 5px;
    border-bottom-left-radius: 40px;
    border-top: 3px solid #000000;
    border-bottom: 3px solid #000000;
    background-color: #ffffff;
    text-align: center;
    display: flex;
    flex-direction: row;
    align-items: center;
    justify-content: center;
}
.logo {
    font-size: 54px;
    color: #000000;
}


nav {
    height: 100px;
    width: 100%;
    border: 3px solid #000000;
    display: flex;
    flex-direction: row;
    align-items: center;
    justify-content: center;
    margin-top: 12px;
    gap: 20px;
}
.blok-nav-1 {
    height: auto;
    display: flex;
    justify-content: center;
}

.nav-pages-balk {
    gap: 10px;

    height: 80%;
    display: flex;
    flex-direction: row;
    align-items: center;
    justify-content: space-around;
}
.text-nav-index {
    font-size: 34px;
    color: #000000;
}
.login--button-nav {
    background-color: #ffffff;
    border-radius: 20px;
    border: 3px solid #000000;
    text-decoration: none;
    text-align: center;
    display: flex;
    flex-direction: row;
    align-items: center;
    justify-content: center;
}
.login-text {
    padding: 10px 10px;
    font-size: 24px;
    color: #000000;
    text-decoration: none;
}

.main-page {
    height: auto;
    width: 100%;
    position: relative; top: 40px;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-self: start;
}
.opmaakblok-main-page, .opmaakblok-main-page-2 {
    height: 75px;
    width: 99%;
}
.opmaakblok-main-page {
    border-top-left-radius: 40px;
    border-top-right-radius: 40px;
    border-top: 3px solid #000000;
}
.opmaakblok-main-page-2 {
    border-bottom-left-radius: 40px;
    border-bottom-right-radius: 40px;
    border-bottom: 3px solid #000000;
}

.main-container {
    height: auto;
    width: 100%;
    display: flex;
    flex-direction: row;
}
.container-left {
    height: auto;
    width: 45%;
    z-index: 1;
    display: flex;
    flex-direction: column;
    align-items: start;
    justify-content: center;
}
.container-right {
    height: 400px;
    width: 55%;
    z-index: 2;
    background-color: aquamarine;
    overflow: visible;
    display: flex;
    flex-direction: column;
    align-items: start;
    justify-content: center;
}
.eerstelaag-main-links {
    height: 1100px;
    width: 80%;
    border-top-right-radius: 1000px;
    border-bottom-right-radius: 1000px;
    border-right: 3px solid #000000;
    display: flex;
    align-items: center;
    justify-content: center;
}
.tweedelaag-main-links {
    height: 900px;
    width: 95%;
    border-top-right-radius: 1000px;
    border-bottom-right-radius: 1000px;
    border-right: 54px solid #000000;
    border-top: 54px solid #000000;
    border-bottom: 54px solid #000000;
    gap: 2%;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
}
.titelblok-main-links {
    height: 90px;
    width: 320px;
    border-radius: 20px;
    border-top-right-radius: 40px;
    border-top-left-radius: 5px;
    border-bottom-right-radius: 5px;
    border-bottom-left-radius: 40px;
    border-top: 3px solid #000000;
    border-bottom: 3px solid #000000;
    background-color: #ffffff;
    text-align: center;
    display: flex;
    flex-direction: row;
    align-items: center;
    justify-content: center;
}
.titel-OVER_ONS {
    font-size: 48px;
    color: #000000;
}
.textblok-main-links {
    height: 280px;
    width: 440px;
    
}

/* login page css */
.container-login-page {
    height: 100vh;
    width: 100%;
    background-color: #fffdfd;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
}
.login-style-blok {
    height: 500px;
    width: 500px;
    border-radius: 100%;
    background-color: #ffffff;
    border: 24px solid #000000;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
}
.block-login {
    height: auto;
    width: 40%;
    background-color: #ffffff;
    border-radius: 20px;
    border: 2px solid #000000;
    padding: 20px;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
}


/* footer css */
footer {
    height: 120px;
    width: 100%;
    display: flex;
    flex-direction: row;
    align-items: center;
    justify-content: space-between;
    margin-top: 30px;
}
.opmaakblok-footer-index, .opmaakblok-footer-index-2 {
    height: 0;
    width: 0;
    border-left: 75px solid transparent;
    border-right: 75px solid transparent;
    border-top: 75px solid #000000;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
}
.opmaakblok-footer-index {
    position: relative; right: 55px; top: 24px;
    rotate: 45deg;
}
.opmaakblok-footer-index-2 {
    position: relative; left: 55px; top: 24px;
    rotate: -45deg;
}
.opmaakblok-footer-2, .opmaakblok-footer-2-2 {
    height: 0;
    width: 0;
    border-left: 45px solid transparent;
    border-right: 45px solid transparent;
    border-top: 45px solid #ffffff;
}
.opmaakblok-footer-2 {
    position: relative; right: 4px; bottom: 40px;
}
.opmaakblok-footer-2-2 {
    position: relative; left: 4px; bottom: 40px;
}
.logo-footer-block {
    height: 90%;
    width: 350px;
    text-align: center;
    display: flex;
    flex-direction: row;
    align-items: center;
    justify-content: center;
}
.logo-footer {
    font-size: 46px;
    color: #000000;
}