* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}
body {
    background-color: #48304D;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: start;
}



header {
    height: 100px;
    width: 100%;
    overflow: hidden;
    display: flex;
    flex-direction: row;
    align-items: center;
    justify-content: center;
} 
.opmaakblok-header-index, .opmaakblok-header-index-2 {
    height: 250px;
    width: 30%;
    background-color: #E637BF;
    border-radius: 90%;
}
.opmaakblok-header-index {
    position: relative; right: 200px;
}
.opmaakblok-header-index-2 {
    position: relative; left: 200px;
}
.logo-header {
    height: 90%;
    width: 30%;
    border-radius: 20px;
    border: 3px solid #000000;
    background-color: #D2F1E4;
    text-align: center;
    display: flex;
    flex-direction: row;
    align-items: center;
    justify-content: center;
}
.logo {
    font-size: 54px;
    color: #000000;
}

nav {
    height: 100px;
    width: 100%;
    border: 3px solid #ffffff;
    display: flex;
    flex-direction: row;
    align-items: center;
    justify-content: center;
}
.nav-pages-balk {
    height: 80%;
    width: 40%;
    gap: 6%;
    display: flex;
    flex-direction: row;
    align-items: center;
    justify-content: center;
    position: relative; left: 95px;

}
.text-nav-index {
    font-size: 42px;
    color: #ffffff;
}
.login--button-nav {
    height: 65%;
    width: 10%;
    background-color: #FBCAEF;
    border-radius: 20px;
    border: 3px solid #000000;
    text-decoration: none;
    text-align: center;
    display: flex;
    flex-direction: row;
    align-items: center;
    justify-content: center;
    position: relative; left: 280px;
}
.login-text {
    font-size: 24px;
    color: #000000;
    text-decoration: none;
}

.main-page {
    height: 800px;
    width: 90%;
    border: 3px solid #ffffff;
    position: relative; top: 40px;
    display: flex;
    flex-direction: column;
}
.img-line-1,  .img-line-2{
    height: 50%;
    width: 100%;
    display: flex;
    flex-direction: row;
    overflow: hidden;
}


/* login page css */
.container-login-page {
    height: 100vh;
    width: 100%;
    background-color: #48304D;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
}
.block-login {
    height: auto;
    width: 60%;
    background-color: #E637BF;
    box-shadow: 0 0px 25px #D2F1E4,
                    inset 0 0px 15px #D2F1E4,
                    inset 0 0px 15px #D2F1E4;
    padding: 20px;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
}